.idea

app/cache/*
!app/cache/.gitkeep

app/logs/*
!app/logs/.gitkeep

var/projects/*
!var/projects/.gitkeep

web/reports/*
!web/reports/.gitkeep

/vendor/
composer.lock

projects.json
projects_test.json

bin/phpunit
bin/behat