{
    "sf-bootstrap": {
        "url": "git@github.com:Romibuzi/sf-bootstrap.git",
        "excluded-dirs": ["app", "vendor"]
    },
    "projetSNCF": {
        "url": "git@github.com:BuZzi/projetSNCF.git",
        "branch": "V2",
        "excluded-dirs": ["app", "vendor"]
    }
}
