{% extends "base.twig" %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u-1-1">
            <h1>PhpMetrics-Dashboard</h1>
        </div>

        <div class="row">
            <h2>List of your scanned projects :</h2>
            {% for project in projects %}
                <a href="{{ app.url_generator.generate('project_reports_list', {'project': project.getRelativePathname()}) }}">
                    <div class="col-xs-6 col-md-3 project">
                        <h3>{{ project.getRelativePathname() }}</h3>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
